.navbar {
	background: linear-gradient(45deg, #8d0e02, #440202, #8d0e02);
	background-size: 400% 100%;
	animation: gradientAnimation 15s ease-in-out infinite;
	position: relative;
	z-index: 1;
}

@keyframes gradientAnimation {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.navbar-light {
	background-color: rgba(255, 255, 255, 0.8);
}

.navbar-light .navbar-nav .nav-link {
	color: #ffffff;
}

body {
	margin: 0;
	padding: 0;
}

.top-left-image {
	position: absolute;
	top: -20px;
	left: 0;
	z-index: 9999;
	width: 100px;
	height: auto;
}

.navbar {
	padding-top: 10px;
}

body {
	overflow-x: hidden;
	margin: 0;
	padding: 0;
}
