.card {
	transition:
		transform 0.3s ease,
		box-shadow 0.3s ease;
	border-radius: 1rem;
}

.card-img-top {
	object-fit: cover;
	height: 200px;
	transition: transform 0.3s ease;
	border-top-left-radius: 1rem;
	border-top-right-radius: 1rem;
}

.card:hover {
	transform: translateY(-10px);
	box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
	transform: scale(1.05);
}

.card-body {
	background-color: #f8f9fa;
	border-bottom-left-radius: 1rem;
	border-bottom-right-radius: 1rem;
}
